@charset "utf-8";

/*################################ Banner Carrucel ##################################################*/

.banner {
    position: relative;
    width: var(--bnrw);
    height: var(--bnrh);
    border: 3px solid var(--azulm);
    padding-top: 10px;
    margin-top: 10px;
    margin: 5px auto;
    background-image: url(../Resources/BannerGro1.jpg);
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    background-size: 100% 100%;
    animation-name: banner;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    z-index: 0;
    /*es igual
    animaton: banner 10s infinite;
    */
}
    .banner2 {
        color: red;
        margin: 150px;
        font-size: 50px;
        /*background-color: yellow;*/
        font-weight: bold;
        content: "  verde ";
    }
@keyframes banner {

    0%, 13.7% {
        background-image: url(../Resources/BannerGro1.jpg);
        opacity: 1;
        z-index: 0;
        content: " ";
    }

    13.8%, 14.2% {
        opacity: 0.1;
    }

    14.3%, 28% {
        background-image: url(../Resources/BannerGro2.jpg);
        opacity: 1;
        z-index: 0;
        content: " Producto 1";
    }

    28.1%, 28.5% {
        opacity: 0.1;
    }

    28.6%, 42.2% {
        background-image: url(../Resources/BannerCumple1.jpg);
        opacity: 1;
        z-index: 0;
        content: " Producto 2";
    }

    42.3%, 42.7% {
        opacity: 0.1;
        z-index: 0;
    }

    42.8%, 56.5% {
        background-image: url(../Resources/BannerCumple2.jpg);
        opacity: 1;
        z-index: 0;
        content: " Producto 3";
    }

    56.6%, 57% {
        opacity: 0.1;
    }

    57.1%, 70.3% {
        background-image: url(../Resources/BannerCumple3.jpg);
        opacity: 1;
        z-index: 0;
        content: " Producto 4";
    }
    70.4%, 70.8% {
        opacity: 0.1;
    }

    70.90%, 85% {
        background-image: url(../Resources/BannerCumple4.jpg);
        opacity: 1;
        content: " Producto 5";
    }

    85.1%, 85.5% {
        opacity: 0.1;
    }

    85.6%, 99% {
        background-image: url(../Resources/BannerCumple5.jpg);
        opacity: 1;
        content: " Producto 5";
    }

    99.1%, 100% {
        opacity: 0.1;
    }

}